.movie-card {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 270px;
}

/* Постер без картинки */
.movie-card__poster-placeholder {
  background-color: #ccc;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
}

.movie-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.movie-card__title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.movie-card__rating {
  color: #d6d602;
  margin-bottom: 0.5rem;
}

.movie-card__desc {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 4.5rem;
  flex-grow: 1;

  /* Обмеження до 5 рядків */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Кнопка */
.movie-card__button {
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.movie-card__button-container {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);

}

.movie-card__button:hover {
  background-color: #c10d17;
}

@media (max-width: 480px) {
  .movie-card {
    width: 180px;
  }

  .movie-card__poster-placeholder {
    height: 270px;
  }
}
